<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ree1 (Lottery Machine)</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <script type="text/javascript" src="https://unpkg.com/vue@3.2.31/dist/vue.global.prod.js"></script>
    <script type="module" src="./main.js"></script>
  </head>
  <body id="app">
    <h1>ree1 (Lottery Machine)</h1>
    <form v-on:submit="run">
      <div class="control">
        <button type="submit" class="run">Run</button>&nbsp;
        <button type="button" class="configure" v-on:click="openConfigureForm">Configure</button>
      </div>
      <div class="reel">
        <template v-for="candidate in candidates">
          <input type="radio" v-bind:id="candidate.key"  v-bind:value="candidate.key" v-model="selection">
          <label v-bind:for="candidate.key">
            <input type="checkbox" v-model="candidate.nominate" title="Check this if the item nominated.">
            {{candidate.key}}
          </label>
        </template>
      </div>
    </form>
    <configure-form ref="configureForm"></configure-form>
  </body>
</html>
