
div.control button.run {
    width:200px;
    height:40px;
}

div.control button.configure {
    width:200px;
    height:40px;
}


div.reel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  height:600px;
}

div.reel input[type=radio] {
    display:none;
}

div.reel input:checked + label {
    color: white;
    background-color: #C00000;
}


label.blink {
    animation: blinkAnimation .33s infinite alternate;
}
@keyframes blinkAnimation {
    0% {
        color: white;
        background-color: #C00000;
    }
    100% {
        color: black;
        background-color: white;
    }
}

div.reel label {
    display: block; 
    margin: 5px 5px 5px 5px;
    font-size: 300%;
}

div.reel input[type=checkbox] {
/*    transform: scale(4); */
}

div.modal-overlay {
    z-index:10;

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);

    display: flex;
    align-items: start;
    justify-content: center;
}

div.modal-content {
    z-index:20;

    width: fit-content;
    margin-top: 1em;
    padding: 1em;
    background:#fff;
}

